/*=========================
RESET
=========================*/

*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

:root{

--bg:#070707;
--card:#111111;
--gold:#C8A96A;
--white:#ffffff;
--gray:#bdbdbd;

}

body{

font-family:'Poppins',sans-serif;

background:var(--bg);

color:var(--white);

overflow-x:hidden;

}

/*=========================
LOADER
=========================*/

#loader{

position:fixed;

top:0;
left:0;

width:100%;
height:100vh;

background:#050505;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

z-index:9999;

transition:1s;

}

#loader h1{

font-family:'Bebas Neue';

font-size:90px;

letter-spacing:8px;

color:var(--gold);

}

#loader p{

margin-top:15px;

color:#999;

}

/*=========================
CURSOR
=========================*/

.cursor{

position:fixed;

width:20px;

height:20px;

border:2px solid var(--gold);

border-radius:50%;

pointer-events:none;

transform:translate(-50%,-50%);

z-index:99999;

}

/*=========================
HEADER
=========================*/

header{

position:fixed;

top:0;

left:0;

width:100%;

padding:25px 8%;

display:flex;

justify-content:space-between;

align-items:center;

background:rgba(0,0,0,.4);

backdrop-filter:blur(15px);

z-index:1000;

}

.logo{

font-family:'Bebas Neue';

font-size:38px;

letter-spacing:4px;

color:var(--gold);

}

nav{

display:flex;

gap:45px;

}

nav a{

text-decoration:none;

color:white;

font-size:15px;

transition:.4s;

}

nav a:hover{

color:var(--gold);

}

.menu{

display:none;

font-size:35px;

cursor:pointer;

}

/*=========================
HERO
=========================*/

.hero{

min-height:100vh;

padding:140px 8%;

display:flex;

justify-content:space-between;

align-items:center;

gap:70px;

position:relative;

}

.overlay{

position:absolute;

width:600px;

height:600px;

background:rgba(200,169,106,.08);

filter:blur(150px);

right:-150px;

top:-100px;

border-radius:50%;

}

.hero-content{

flex:1;

z-index:5;

}

.subtitle{

color:var(--gold);

letter-spacing:5px;

margin-bottom:20px;

font-size:14px;

}

.hero h1{

font-family:'Bebas Neue';

font-size:150px;

line-height:.9;

margin-bottom:30px;

}

.description{

font-size:20px;

color:#bdbdbd;

line-height:1.8;

max-width:550px;

margin-bottom:40px;

}

.hero-buttons{

display:flex;

gap:20px;

}

/*=========================
BUTTONS
=========================*/

.primary-btn{

padding:18px 45px;

background:var(--gold);

color:black;

text-decoration:none;

border-radius:50px;

font-weight:600;

transition:.4s;

}

.primary-btn:hover{

transform:translateY(-6px);

box-shadow:0 15px 40px rgba(200,169,106,.4);

}

.secondary-btn{

padding:18px 45px;

border:1px solid rgba(255,255,255,.15);

text-decoration:none;

border-radius:50px;

color:white;

transition:.4s;

}

.secondary-btn:hover{

border-color:var(--gold);

}

/*=========================
IMAGE
=========================*/

.hero-image{

flex:1;

display:flex;

justify-content:center;

z-index:5;

}

.hero-image img{

width:100%;

max-width:620px;

border-radius:35px;

box-shadow:

0 40px 90px rgba(0,0,0,.65);

transition:.6s;

}

.hero-image img:hover{

transform:scale(1.02);

}

/*=========================
SECTION TITLES
=========================*/

.section-title{

letter-spacing:5px;

color:var(--gold);

margin-bottom:15px;

font-size:14px;

text-transform:uppercase;

}

h2{

font-family:'Bebas Neue';

font-size:70px;

margin-bottom:20px;

}
